---
title: CV
layout: post
---

<style>
.doi {
    display: inline-block;
    font-size: 12px;
}
body, html{
    margin:10pt;
}
ul.square {
    list-style-type: square;
}
h2{
    background-color: #B4CDCD;
    padding: 5pt;
}
</style>

<h1> CV {{ site.data.personal.firstname }} {{ site.data.personal.lastname }} </h1>

<a href="mailto:{{site.data.personal.email}}">{{site.data.personal.email}}</a>, <a href=https://github.com/{{site.data.personal.github}}>github.com/{{site.data.personal.github}}</a>, <a href=https://twitter.com/{{site.data.personal.twitter}}>twitter.com/{{site.data.personal.twitter}}</a>

<br />
{{site.data.personal.street}}, {{site.data.personal.city}}, {{site.data.personal.province}}, {{site.data.personal.postal}}, {{site.data.personal.country}}
<br /><br />

Place of Birth&#58; {{site.data.personal.birth.place}}, Country of Citizenship&#58; {{site.data.personal.citizenship}}




<h2> Education </h2>

{% for edu in site.data.education.edu %}
<i> {% if edu.from %} {{edu.from}} - {{edu.to}}{% else %} {{edu.when}}{% endif %}.</i> {{edu.what}} at <i>{{edu.where}}.</i><br />
{% if edu.thesis_title %} Thesis: {{edu.thesis_title}}<br />{% endif %}
{% if edu.prof %} Supervisor: <b>{{edu.prof}}</b><br />{% endif %}
{% unless {{forloop.last}} %}<br />{% endunless %}
{% endfor %}


<h2> Side Projects </h2>

{% for side in site.data.sideprojects.side %}
<i> {% if side.from %} {{side.from}} - {{side.to}}{% else %} {{side.when}}{% endif %}.</i> {% if {{side.url}} %}<a href={{side.url}}>{{side.what}}.</a> {% else %} {{side.what}}.{% endif %}
<b>{% for language in {{side.languages}} %} {{language}}{% unless {{forloop.last}} %},{% endunless %} {% endfor %}</b> <br/ >
{{side.role}}.
<ul class="square">
{% for item in {{side.items}} %}
<li> {{item}} </li>
{% endfor %}
</ul>
{% endfor %}


<h2> Teaching Experience </h2>

<h3> At The University of British Columbia </h3>
{% for pos in site.data.teaching.ubc %}
{{pos.from}} - {{pos.to}}. <b> {{pos.what}}.</b> {% if pos.details %}{{pos.details}}.{% endif %} <br />
{% endfor %}

<h3> Software Carpentry Workshops <a href="http://www.software-carpentry.org">software-carpentry.org</a> </h3>
{% for pos in site.data.teaching.swc %}
{{pos.when}}. <b> {{pos.what}} </b><i>at {{pos.where}}</i> - {{pos.role}} <br />
{% endfor %}


<h3> At The Karlsruhe Institute of Technology </h3>
{% for pos in site.data.teaching.kit %}
{{pos.from}} - {{pos.to}}. <b> {{pos.what}}.</b> {% if pos.details %}{{pos.details}}.{% endif %} <br />
{% endfor %}


<h2> Publications </h2>

{% for paper in site.data.publications.papers %}
{{paper.when}}. {% for author in paper.authors %}{% if author contains 'Konrad' %}<b>{{author}}</b>{% else %}{{author}}{% endif %}{% unless {{forloop.last}} %}, {% else %}.{% endunless %}{% endfor %} 
<i>{{paper.title}}.</i> {{paper.journal}}, {{paper.publish_date}}{% if paper.doi %}<div class="doi">&nbsp;(doi: {{paper.doi}})</div>{% endif %}.<br /> <br />
{% endfor %}


<h2> Selected Seminar talks and Poster Presentations </h2>

{% for talk in site.data.talks.talks %}
{{talk.when}}. <i>{{talk.title}}</i><br />
{{talk.conference}} in {{talk.where}}{% if talk.others %} ({{talk.others}}){% endif %}. <br /><br />
{% endfor %}


<h2> Studies Abroad </h2>

{% for studies in site.data.others.studies_abroad %}
<i> {{studies.from}} - {{studies.to}}. </i> {{studies.details}}
<br />
{% endfor %}

<h2> Summer Schools and Workshops </h2>

{% for ws in site.data.others.workshop %}
<i> {{ws.when}}. </i> {{ws.name}}, <b>{{ws.where}}</b> <br />
<i> Project: {{ws.project}}.</i>
<br /><br />
{% endfor %}

<h2> Scholarships </h2>

{% for scholar in site.data.scholarships.scholarship %}
{{scholar.from}} - {{scholar.to}}. <b>{{scholar.what}}</b> from the <i>{{scholar.who}}</i>{%if scholar.details %} ({{scholar.details}}){% endif %}. <br />
{% endfor %}



<h2> Extracurricular Activities </h2>

{% for activity in site.data.others.extracurricular %}
<i> {% if activity.from %} {{activity.from}} - {{activity.to}}{% else %} {{activity.when}}{% endif %}.</i> {{activity.what}}.
<br /><br />
{% endfor %}


<h2> Personal Interest </h2>

{% for interest in site.data.others.personal_interest %}
{{interest}}{% unless {{forloop.last}} %},{% else %}.{% endunless %} 
{% endfor %}

<div align="right"> Vancouver, September 2014 </div>