<style>
.doi {
    display: inline-block;
    font-size: 12px;
}
body, html{
  margin: 0pt;
  padding: 0;
}
#header {
   padding:0px;
}
ul.square {
    list-style-type: square;
}
h2{
    background-color: #B4CDCD;
    padding: 2pt;
}

a:hover {
    color:red;
}

.personal_info {
    margin-left: auto;
    margin-right: auto;
    float: center;
    text-align: center;
    width: 50%;
}

.left {
    float: left;
    text-align: right;
    margin: auto;
    width: 50%;
}

.right {
    float: right;
    text-align: left;
    margin: auto;
    width: 49%;
}


.full_right {
    position: absolute;
    text-align: right;
    margin: auto;
    width: 100%;
}

.when_what {
    float: left;
    margin: auto;
    width: 100%;
}

.when {
    float: left;
    width: 7.5%;
    margin: auto;
    text-align: right;
    font-style: italic;
}

.what {
    float: right;
    width: 92%;
    margin: auto;
}


.wrapper {
    float: left;
    width: 100%;
}

#my_container {
   min-height:100%;
   position:absolute;
}

#my_body {
  margin: 10pt;

}

#my_footer {
   position: absolute;
   text-align: right;
   bottom:-35pt;
   right: 10pt;
   margin-bottom: 15pt;
   width:100%;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}
</style>

